body{
    font-family: serif;
}
h1 {
	font-size:48px;
}
a {
    color: lightsteelblue;/*#b0c4de*/
    text-decoration-line:none;
}
#menu {
    background-color: midnightblue;/*#191970*/
	line-height:48px;
    font-weight:bold;
}
.center{
    text-align: center;
}